# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local data
*.db
*.sqlite
.chroma/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

/find_files.ipynb
/requirements.txt